#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.backgroundImageContainer {
  height: fit-content;
  background-repeat: no-repeat;
  /* Assuming the photo.jpg is in the public/utilis folder */
  background-image: url("../src/img/photo.jpg");
  
}
.error-message{
  color: red;
  text-align: left;
}

.footer {
  position:relative;
  padding: 2rem;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: #4682A9;
  display: flex;
  justify-content: center;
  align-items: center;
}