#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./utilis/photo.jpg");
  background-repeat: no-repeat;

}
.error-message{
  color: red;
  text-align: left;
}

.footer {
  /* position: fixed; */
  /* padding: 2rem; */
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: #4682A9;
  display: flex;
  justify-content: center;
  align-items: center;
}